@model Server_v0._0.Models.Time_ss

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Time_ss</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Time_Lecture)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Time_Lecture)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Time_Work)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Time_Work)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Time_Labor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Time_Labor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id_Sem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id_Sem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id_Subj)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id_Subj)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID_Time">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
