@model IEnumerable<Server_v0._0.Models.Time_ss>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Time_Lecture)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Time_Work)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Time_Labor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Id_Sem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Id_Subj)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Time_Lecture)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time_Work)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time_Labor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Id_Sem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Id_Subj)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID_Time">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID_Time">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID_Time">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
