@model Server_v0._0.Models.Time

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Time</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LectureTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LectureTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WorkTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WorkTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LaborTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LaborTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Semestr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Semestr.SemestrId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Subject)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Subject.SubjectId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TimeId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
