@model IEnumerable<Server_v0._0.Models.Time>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LectureTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LaborTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Semestr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subject)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LectureTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WorkTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LaborTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Semestr.SemestrId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subject.SubjectId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TimeId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TimeId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TimeId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
