@model IEnumerable<Server_v0._0.Grads_Of_Semestr>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Grade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Time_ss)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Grade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time_ss.Time_Labor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Student.Id_Stud)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Grads_Of_Semestr_Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Grads_Of_Semestr_Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Grads_Of_Semestr_Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
